@import url('reset.css');
@import url('font.css');


 .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto auto;
 }
 .block {
    padding: 20px;
    display: flex;
 }
 .level-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
 }
 .block_1a {
    background-color: #FA51A2;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .block_1b {
    background-color: #BDF522;
    height: 400px;
    position: relative;
    z-index: 4;
 }
  .photo-1{
   position: absolute;
   top: 80px;
   right: -40px;
   width: 581px;
   height: 429px;
   z-index: 2;
 }
 .text_1{
   padding: 50px 15px;
   font-family: 'Inter';
   font-size: 250px;
   color: #7B46F9;
   font-weight: bold;
   z-index: 3;
 }

.text_2{
   position: absolute;
   bottom: 20px;
   left: 40px;
   font-family: 'Inter';
   font-size: 200px;
   color: #FE8616;
   font-weight: normal;
   z-index: 5;
}

 .block_2 {
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: #7B46F9;
    height: 200px;
    position: relative;
    z-index: 4;
 }

 .text_3{
   position: absolute;
   padding: 20px 5px;
   font-family: 'Inter';
   font-size: 180px;
   color: #BDF522;
   font-weight: 900;
   z-index: 5;
 }
  .photo-2{
   position: absolute;
   padding: 25px 15px;
   right: 10px;
   width: 167px;
   height: 155px;
   z-index: 5;
  }

 .block_2-3-vertical {
    grid-column: 3;
    grid-row: 2 / 4;
    background-color: #A609F0;
    display: flex;
    align-items: center;
    justify-content: center;
 }

  .text_4{
   font-family: 'Inter';
   font-size: 170px;
   color: #FE8616;
   font-weight: bold;
   writing-mode: vertical-rl;
   z-index: 2;
  }

 .block_3 {
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: #FE8616;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    
 }

.photo-3{
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: left center;
   z-index: 2;
   display: block;
   margin-left: -20px;
}

.text_5{
   margin-left: 40%;
   font-family: 'Inter';
   font-size: 300px;
   color: #A609F0;
   font-weight: normal;
   z-index: 3;
   position: relative;
  }

 .level-container-bottom {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4;
    grid-template-columns: 6fr 1fr 1fr;
 }
 .block_4a {
    background-color: #BDF522;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
 }
 .text_6{
   font-family: 'Inter';
   font-size: 130px;
   color: #A609F0;
   font-weight: normal;
   z-index: 2;
 }
 .block_4b {
    background-color: #FA51A2;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .text_7{
   font-family: 'Inter';
   font-size: 50px;
   color: #BDF522;
   font-weight: normal;
   z-index: 2;
 }

 .block_4c {
    background-color: #BDF522;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.text_8{
   font-family: 'Inter';
   font-size: 50px;
   color: #A609F0;
   font-weight: normal;
   z-index: 2;
 }


 .page-container {
   display: grid;
   grid-template-columns: 340px 1fr 1fr;
   grid-template-rows: auto auto;
   margin: 0 auto;
   position: relative;
   max-width: 1920px;
   width: 100%;
 }
 .vertical-block {
   grid-column: 1;
   grid-row: 1 / -1;
   background-color: #BDF522;
   width: 340px;
   height: 1080px;
 }
 .rounded-rectangle {
   grid-column: 2;
   grid-row: 1;
   background-image: linear-gradient(to bottom,  #BDF522, #FA51A2);
   height: 600px;
   width: 100%;
   max-width: 565px;
   border-radius: 0 0 250px 250px;
   justify-self: start;
  
 }
 .best-text {
   grid-column: 2;
   grid-row: 2;
   font-size: 96px;
   font-family: 'Inter';
   color: #BDF522;
   padding-top: 160px;
   padding-left: 20px;
   min-width: 420px;
 }
 .horizontal-rectangle {
   grid-column: 3;
   grid-row: 1;
   background-color: #BDF522;
   height: 350px;
   width: 100%;
   max-width: 1060px;
   margin-top: 30px;
   justify-self: end;
 }
 .circles-container {
   grid-column: 3;
   grid-row: 2;
   display: grid;
   grid-template-columns: repeat(5, 200px);
   grid-template-rows: repeat(3, 200px);
   margin-top: -130px;
   width: auto;
   justify-self: end;
 }
 .circle {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-image: linear-gradient(to bottom, #7B46F9,  #BDF522);
 }
.page-container_3 {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 300px 200px auto auto;
   max-width: 1920px;
   margin: 0 auto;
}
.block_block-1-1 {
   grid-column: 1 / 5;
   grid-row: 1;
   background-color: #FA51A2;
   height: 300px;
}

.photo-note{
   width: 523px;
   height: 487px;
   object-fit: contain;
   flex-shrink: 0;
   z-index: 2;
   position: absolute;
   left: -122px; 
}

.block_block-1-2 {
   grid-column: 5 / 7;
   grid-row: 1;
   background-color: #BDF522;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.text_3-2{
   font-family: 'Inter';
   font-size: 128px;
   color: #000;
   font-weight: normal;
   z-index: 2;
 }

.block_block-1-3 {
   grid-column: 7 / 10;
   grid-row: 1 / 3;
   background-color: #7B46F9;
   height: 500px;
   align-self: start;
   position: relative;
}
.block_block-1-4 {
   grid-column: 10 / 13;
   grid-row: 1;
   background-color: #A609F0;
   height: 200px;
}
.block_block-2-1 {
   grid-column: 1 / 7;
   grid-row: 2;
   background-color: #A609F0;
   height: 200px;

}
.block_block-2-2 {
   grid-column: 10 / 13;
   grid-row: 2;
   background-color: #FA51A2;
   height: 300px;
   margin-top: -100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.text_2-2{
   padding: 0px 20px;
   white-space: pre-line;
   font-family: 'Inter';
   font-size: 96px;
   color: #BDF522;
   font-weight: normal;
   font-weight: bold;
   z-index: 2;
   margin-top: -95px;
 }

.block_block-3-1 {
   grid-column: 1 / 4;
   grid-row: 3;
   background-color: #FE8616;
   height: 555px;

}
.block_block-3-2 {
   grid-column: 4 / 7;
   grid-row: 3;
   background-color: #7B46F9;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.text_3-2-2 {
   font-family: 'Inter';
   font-size: 48px;
   color: #000;
   font-weight: normal;
   font-weight: bold;
   z-index: 2;
}

.block_block-3-3 {
   grid-column: 7 / 10;
   grid-row: 3 / 5;
   background-color: #FE8616;
   height: 555px;

}
.block_block-3-4 {
   grid-column: 10 / 13;
   grid-row: 3;
   background-color: #A609F0;
   height: 100px;
   display: flex;
   align-items: center;
   padding: 0 20px;
   position: relative;
   overflow: hidden;
}

.text_3-2-4 {
   font-family: 'Inter';
   font-size: 48px;
   color: #000;
   font-weight: normal;
   font-weight: bold;
   white-space: nowrap;
}
.photo-3-3{
   width: 140px;
   height: 90px;
   object-fit: contain;
   margin-right: 30px;
   flex-shrink: 0;
   z-index: 2;
}


.block_block-4-1 {
      grid-column: 4 / 7;
      grid-row: 4;
      background-color: #FA51A2;
      height: 455px;
      margin-top: -455px;
  
}
.block_block-4-2 {
      grid-column: 10 / 13;
      grid-row: 4;
      background-color: #FA51A2;
      height: 455px;
      margin-top: -455px;
      
}
