@import url('reset.css');
@import url('font.css');


 .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto auto;
 }
 .block {
    padding: 20px;
    display: flex;
 }
 .level-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
 }
 .global-lag_str1 {
  position: fixed;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
 }

.laglag-square-global {
  position: absolute;
  width: 31px;
  height: 31px;
  background-color: #000;
  animation: lagGlobal1Blink 0.6s ease-in-out infinite;
  left: var(--left, 50%);
  top: var(--top, 50%);
  animation-delay: var(--delay, 0s);

  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes lagGlobal1Blink {
    0%, 100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}


 .block_1a {
    background-color: #FA51A2;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .block_1b {
    background-color: #BDF522;
    height: 400px;
    position: relative;
    z-index: 4;
 }

 .squares-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 30px;
 }
 .square {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-color: #7B46F9;
  animation: squareMove 4s ease-in-out infinite;
 }
 .square:nth-child(1) { animation-delay: 0s; }
 .square:nth-child(2) { animation-delay: 0.2s; }
 .square:nth-child(3) { animation-delay: 0.4s; }
 .square:nth-child(4) { animation-delay: 0.6s; }

 @keyframes squareMove {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(var(--offset) * -1));
  }
}

  .photo-1{
   position: absolute;
   top: 80px;
   right: -40px;
   width: 581px;
   height: 429px;
   z-index: 2;
 }
 .text_1{
   padding: 50px 15px;
   font-family: 'Inter';
   font-size: 250px;
   color: #7B46F9;
   font-weight: bold;
   z-index: 3;
   animation: pendulumTilt 1s ease-in-out infinite alternate;
   display: inline-block;
   transform-origin: center center;
}

@keyframes pendulumTilt {
  from {
    transform: skewX(-16deg);
  }
  to {
    transform: skewX(16deg);
  }
}

.text_2{
   position: absolute;
   bottom: 20px;
   left: 40px;
   font-family: 'Inter';
   font-size: 200px;
   color: #FE8616;
   font-weight: normal;
   z-index: 6;
   animation: weightBreath 1.2s ease-in-out infinite alternate;
}
@keyframes weightBreath {
   from {
      font-weight: 200;
   }
   to {
      font-weight: 900;
   }
}

.lag-squares {
  position: absolute;
  bottom: 40px;
  left: 35px;
  display: flex;
  z-index: 5;
  width: auto;
}

.lag-square {
  width: 170px;
  height: 160px;
  background-color: #A609F0;
  animation: lagDisappear 2.5s ease-in-out infinite;
}

.lag-square:nth-child(1) { animation-delay: 0s; }
.lag-square:nth-child(2) { animation-delay: 1s; }
.lag-square:nth-child(3) { animation-delay: 0.5s; }
.lag-square:nth-child(4) { animation-delay: 1.5s; }
.lag-square:nth-child(5) { animation-delay: 2s; }
.lag-square:nth-child(6) { animation-delay: 1s; }

@keyframes lagDisappear {
    0%, 40% {
        opacity: 1;
        transform: scale(1);
    }
    50%, 90% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

 .block_2 {
    grid-column: 1 / 3;
    grid-row: 2;
    background-color: #7B46F9;
    height: 200px;
    position: relative;
    z-index: 4;
 }

 .text_3{
   position: absolute;
   font-family: 'Inter';
   font-size: 180px;
   color: #BDF522;
   font-weight: 900;
   z-index: 6;
   top: 50%;
   left: 42%;
   animation: pulseScale 2s ease-in-out infinite;
   transform: translate(-50%, -50%);
   transform-origin: center center;
 }

@keyframes pulseScale {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.85);
  }
}

.lag-squares_2 {
  position: absolute;
  bottom: 50px;
  left: 30px;
  display: flex;
  z-index: 5;
  width: auto;
}

.lag-square_2 {
  width: 170px;
  height: 140px;
  background-color: #FA51A2;
  animation: lagDisappear 2.5s ease-in-out infinite;
}

.lag-square_2:nth-child(1) { animation-delay: 1s; }
.lag-square_2:nth-child(2) { animation-delay: 0s; }
.lag-square_2:nth-child(3) { animation-delay: 0.5s; }
.lag-square_2:nth-child(4) { animation-delay: 1.5s; }
.lag-square_2:nth-child(5) { animation-delay: 2s; }
.lag-square_2:nth-child(6) { animation-delay: 1s; }
.lag-square_2:nth-child(7) { animation-delay: 0.5s; }


@keyframes lagDisappear {
    0%, 40% {
        opacity: 1;
        transform: scale(1);
    }
    50%, 90% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

  .photo-2{
   position: absolute;
   padding: 25px 15px;
   right: 10px;
   width: 167px;
   height: 155px;
   z-index: 5;
   animation:  rotateClockwise 4s linear infinite;
   transform-origin: center center;
  }
  @keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 .block_2-3-vertical {
    grid-column: 3;
    grid-row: 2 / 4;
    background-color: #A609F0;
    display: flex;
    align-items: center;
    justify-content: center;
 }

  .text_4{
   font-family: 'Inter';
   font-size: 170px;
   color: #FE8616;
   font-weight: bold;
   writing-mode: vertical-rl;
   z-index: 3;
   animation: stretchBoth 2s ease-in-out infinite;
   transform-origin: center center;
  }

  @keyframes stretchBoth {
  0%, 100% {
    transform: scaleX(1); 
  }
  50% {
    transform: scaleX(1.8); 
  }
}

.lag-squares_3 {
  position: absolute;
  display: flex;
  z-index: 2;
  width: auto;
  writing-mode: vertical-rl;
}

.lag-square_3 {
  width: 140px;
  height: 160px;
  background-color: #BDF522;
  animation: lagstretchBoth 2s ease-in-out infinite;
  transform-origin: center center;
}
  @keyframes lagstretchBoth {
  0%, 100% {
    transform: scaleX(1); 
  }
  50% {
    transform: scaleX(1.8); 
  }
}
.lag-square_3:nth-child(1) { animation-delay: 0s; }
.lag-square_3:nth-child(2) { animation-delay: 0s; }
.lag-square_3:nth-child(3) { animation-delay: 0s; }
.lag-square_3:nth-child(4) { animation-delay: 0s; }


 .block_3 {
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: #FE8616;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
 }

.photo-3{
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: left center;
   z-index: 1;
   display: block;
   margin-left: -20px;
   margin-top: -30px;
}

.text_5{
   margin-left: 30%;
   font-family: 'Inter';
   font-size: 300px;
   color: #A609F0;
   font-weight: normal;
   z-index: 3;
   position: relative;
   animation: letterStretch 1.8s ease-in-out infinite;
  }
  @keyframes letterStretch {
  0%, 100% {
    letter-spacing: normal;
    transform: translateX(0);
  }
  50% {
    letter-spacing: 30px; 
   transform: translateX(-20px);
  }
}

.laglag-square {
  position: absolute;
  width: 31px;
  height: 31px;
  background-color: #BDF522;
  animation: lagBlink 0.6s ease-in-out infinite;
  left: var(--left, 50%);
  top: var(--top, 50%);
  animation-delay: var(--delay, 0s);

  transform: translate(-50%, -50%);
  z-index: 3;
}

@keyframes lagBlink {
    0%, 100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

 .level-container-bottom {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4;
    grid-template-columns: 6fr 1fr 1fr;
 }
 .block_4a {
    background-color: #BDF522;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
 }
 .text_6{
   display: flex;
 }

.letter-with-square {
  animation: moveLetter 3s ease-in-out infinite;
}
.lag-square_4 {
    width: 140px; 
    height: 140px;
    background-color: #FA51A2;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.lag-square_4 .letter {
   font-family: 'Inter';
   font-size: 130px;
   color: #A609F0;
   font-weight: normal;
   line-height: 1;
}

@keyframes moveLetter {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(var(--offset) * -1));
    }
}

 .block_4b {
    background-color: #FA51A2;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: block4bColor 0.5s ease-in-out infinite alternate;
    animation-delay: 0s;
 }

 .text_7{
   font-family: 'Inter';
   font-size: 50px;
   color: #BDF522;
   font-weight: normal;
   z-index: 2;
   animation: text7Color 0.5s ease-in-out infinite alternate;
   animation-delay: 0s;
 }

 .block_4c {
    background-color: #BDF522;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: block4cColor 0.5s ease-in-out infinite alternate-reverse;
    animation-delay: 0s;
 }
.text_8{
   font-family: 'Inter';
   font-size: 50px;
   color: #A609F0;
   font-weight: normal;
   z-index: 2;
   animation: text8Color 0.5s ease-in-out infinite alternate-reverse;
   animation-delay: 0s;
 }

 @keyframes block4bColor {
  from {
    background-color: #FA51A2;
  }
  to {
    background-color: #BDF522;
  }
}

@keyframes text7Color {
  from {
    color: #BDF522;
  }
  to {
    color: #FA51A2;
  }
}

@keyframes block4cColor {
  from {
    background-color: #FA51A2;
  }
  to {
    background-color:  #BDF522;
  }
}

@keyframes text8Color {
  from {
    color: #BDF522;
  }
  to {
    color: #7B46F9;
  }
}

 .page-container {
   display: grid;
   grid-template-columns: 340px 1fr 1fr;
   grid-template-rows: auto auto;
   margin: 0 auto;
   position: relative;
   max-width: 1920px;
   width: 100%;
 }
 .vertical-block {
   grid-column: 1;
   grid-row: 1 / -1;
   background-color: #BDF522;
   width: 340px;
   height: 1080px;
 }
 .rounded-rectangle {
   grid-column: 2;
   grid-row: 1;
   background-image: linear-gradient(to bottom,  #BDF522, #FA51A2);
   height: 600px;
   width: 100%;
   max-width: 565px;
   border-radius: 0 0 250px 250px;
   justify-self: start;
  
 }
 .best-text {
   grid-column: 2;
   grid-row: 2;
   font-size: 96px;
   font-family: 'Inter';
   color: #BDF522;
   padding-top: 160px;
   padding-left: 20px;
   min-width: 420px;
 }
 .horizontal-rectangle {
   grid-column: 3;
   grid-row: 1;
   background-color: #BDF522;
   height: 350px;
   width: 100%;
   max-width: 1060px;
   margin-top: 30px;
   justify-self: end;
 }
 .circles-container {
   grid-column: 3;
   grid-row: 2;
   display: grid;
   grid-template-columns: repeat(5, 200px);
   grid-template-rows: repeat(3, 200px);
   margin-top: -130px;
   width: auto;
   justify-self: end;
 }
 .circle {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-image: linear-gradient(to bottom, #7B46F9,  #BDF522);
 }
.page-container_3 {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 300px 200px auto auto;
   max-width: 1920px;
   margin: 0 auto;
}
.block_block-1-1 {
   grid-column: 1 / 5;
   grid-row: 1;
   background-color: #FA51A2;
   height: 300px;
}

.photo-note{
   width: 523px;
   height: 487px;
   object-fit: contain;
   flex-shrink: 0;
   z-index: 2;
   position: absolute;
   left: -122px; 
}

.block_block-1-2 {
   grid-column: 5 / 7;
   grid-row: 1;
   background-color: #BDF522;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.text_3-2{
   font-family: 'Inter';
   font-size: 128px;
   color: #000;
   font-weight: normal;
   z-index: 2;
 }

.block_block-1-3 {
   grid-column: 7 / 10;
   grid-row: 1 / 3;
   background-color: #7B46F9;
   height: 500px;
   align-self: start;
   position: relative;
}
.block_block-1-4 {
   grid-column: 10 / 13;
   grid-row: 1;
   background-color: #A609F0;
   height: 200px;
}
.block_block-2-1 {
   grid-column: 1 / 7;
   grid-row: 2;
   background-color: #A609F0;
   height: 200px;

}
.block_block-2-2 {
   grid-column: 10 / 13;
   grid-row: 2;
   background-color: #FA51A2;
   height: 300px;
   margin-top: -100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.text_2-2{
   padding: 0px 20px;
   white-space: pre-line;
   font-family: 'Inter';
   font-size: 96px;
   color: #BDF522;
   font-weight: normal;
   font-weight: bold;
   z-index: 2;
   margin-top: -95px;
 }

.block_block-3-1 {
   grid-column: 1 / 4;
   grid-row: 3;
   background-color: #FE8616;
   height: 555px;

}
.block_block-3-2 {
   grid-column: 4 / 7;
   grid-row: 3;
   background-color: #7B46F9;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.text_3-2-2 {
   font-family: 'Inter';
   font-size: 48px;
   color: #000;
   font-weight: normal;
   font-weight: bold;
   z-index: 2;
}

.block_block-3-3 {
   grid-column: 7 / 10;
   grid-row: 3 / 5;
   background-color: #FE8616;
   height: 555px;

}
.block_block-3-4 {
   grid-column: 10 / 13;
   grid-row: 3;
   background-color: #A609F0;
   height: 100px;
   display: flex;
   align-items: center;
   padding: 0 20px;
   position: relative;
   overflow: hidden;
}

.text_3-2-4 {
   font-family: 'Inter';
   font-size: 48px;
   color: #000;
   font-weight: normal;
   font-weight: bold;
   white-space: nowrap;
}
.photo-3-3{
   width: 140px;
   height: 90px;
   object-fit: contain;
   margin-right: 30px;
   flex-shrink: 0;
   z-index: 2;
}


.block_block-4-1 {
      grid-column: 4 / 7;
      grid-row: 4;
      background-color: #FA51A2;
      height: 455px;
      margin-top: -455px;
  
}
.block_block-4-2 {
      grid-column: 10 / 13;
      grid-row: 4;
      background-color: #FA51A2;
      height: 455px;
      margin-top: -455px;
      
}
